<%= turbo_frame_tag :details do %>
  <p>
    Title: <%= @movie[:title] %>
  </p>

  <p>
    Summary: <%= @movie[:summary] %>
  </p>

  <p>
    Director: <%= @movie[:director] %>
  </p>

  <p>
    Length: <%= @movie[:length] %>
  </p>

  <p>
    Genre: <%= @movie[:genre] %>
  </p>

  <p>
    Year: <%= @movie[:year] %>
  </p>
<% end %>
